*{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background-image: linear-gradient(to right, #367ab6,rgb(191, 225, 244));
  color: rgb(156, 204, 245);
}
a{
  text-decoration: none;
  color: rgb(4, 91, 167);
  transition: .5s;
}
a:hover{
  color: rgb(3, 44, 84);
}